@charset "UTF-8";
section#corpo-specs h1 {
    font-family: 'FonteLogo', sans-serif;
    color: #606060;
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 0px;
}
section#corpo-specs h2 {
    color: #606060;
    font-family: sans-serif;
    font-size: 10pt;
    opacity: 0.7;
}
section#corpo-specs h3 {
    font-size: 10pt;
    font-family: sans-serif;
    color: #888888;
    margin-top: 0px;
}
section#corpo-specs h4 {
    color: #888888;
    opacity: 0.8;
    font-family: sans-serif;
    font-size: 8pt;
    margin-left: 750px;
}
section#corpo-specs p {
    text-align: justify;
    text-indent: 20px;
    font-size: 11pt;
}
section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 380px;
    height: 280px;
    border: none;
}
